@use '@angular/material' as mat;

@import "variables";

$my-palette: mat.define-palette(mat.$indigo-palette);

.locationContainer {
  display: flex;
  background: mat.get-color-from-palette($my-palette, 500);
  padding: $padding-normal;
  cursor: pointer;
  transition: all 0.125s ease;
  font-weight: $weight-bold;
  span {
    margin-right: 1rem;
    &.state {
      font-weight: $weight-light;
      color: $font-grey;
    }
    &:last-child {
      margin-left: auto;
      color: $font-grey;
    }
  }
  &:hover {
    background: mat.get-color-from-palette($my-palette, 'darker');
    padding-left: $padding-large;
    color: mat.get-color-from-palette($my-palette, 'darker-contrast');
  }
}

.noResults {
  padding-top: $padding-normal;
}
