<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="weatherLoading$ | async"></mat-spinner>
  <mat-card-content *ngIf="vm$ | async as vm">
    <div class="header" data-cy="weatherHeader">
      <span class="fi fi-{{vm.location?.country | lowercase }}"></span><span class="locationInfo">{{vm.location?.name}} - {{vm.location?.state}}</span>
      <button
        data-cy="toggleView"
        mat-flat-button
        color="primary"
        (click)="displayWeekInfo = !displayWeekInfo">
        {{ displayWeekInfo ? 'Toon vandaag' : 'Toon de hele week'}}
      </button>
    </div>

    <table mat-table [dataSource]="displayWeekInfo ? vm.weather.daily : [vm.weather.current]" data-cy="weatherTable">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayWeatherDetails(row)"></tr>

      <ng-container [matColumnDef]="displayColumnsEnum.DATE">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.dt | date:'EEE'}} <span class="dateDetailed">{{element.dt | date}}</span> </td>
      </ng-container>

      <ng-container [matColumnDef]="displayColumnsEnum.TEMP">
        <th mat-header-cell *matHeaderCellDef> <i class="wi wi-thermometer"></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.temp | temperature}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayColumnsEnum.CLOUDS">
        <th mat-header-cell *matHeaderCellDef> <i class="wi wi-cloud"></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.clouds}}% </td>
      </ng-container>

      <ng-container [matColumnDef]="displayColumnsEnum.WIND_SPEED">
        <th mat-header-cell *matHeaderCellDef> <i class="wi wi-cloudy-gusts"></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.wind_speed}} km/u </td>
      </ng-container>

      <ng-container [matColumnDef]="displayColumnsEnum.PROBABILITY_OF_PRECIPITATION">
        <th mat-header-cell *matHeaderCellDef>  <i class="wi wi-rain"></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.pop}} mm </td>
      </ng-container>

      <ng-container [matColumnDef]="displayColumnsEnum.DESCRIPTION">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><i class="wi wi-owm-{{element.weather[0].id}}"></i></td>
      </ng-container>
    </table>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="detailedWeather$ | async as weather">
  <mat-card-content>
    <app-weatherDetails [weather]="weather" data-cy="weatherDetails"></app-weatherDetails>
  </mat-card-content>
</mat-card>
