@use '@angular/material' as mat;

@import 'variables';

$my-palette: mat.define-palette(mat.$indigo-palette);

mat-spinner {
  margin-left: calc(50% - 50px);
  margin-top: $padding-normal;
  margin-bottom: $padding-normal;
}

.mat-mdc-table tr.mat-mdc-row {
  cursor: pointer;
}

.mat-mdc-header-row th {
  &:first-child {
    text-align: left;
  }
  text-align: center;
}

.mat-mdc-row td {
  &:first-child {
    text-align: left;
  }
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  @media screen and (max-width: $phone) {
    flex-wrap: wrap;
    button {
      flex-basis: 100%;
      margin-top: $padding-normal;
    }
  }
  .locationInfo {
    margin-left: $padding-small;
  }
  button {
    margin-left: auto;
  }
}

.wi {
  color: mat.get-color-from-palette($my-palette, 'accent');
  font-size: $icon-size-normal;
  font-weight: $weight-bolder;
}

.dateDetailed {
  @media screen and (max-width: $phone) {
    display: none;
  }
}
