// FONT COLORS
$font-light-blue: #b0edff;
$font-blue: #8de0f9;
$font-grey: #858585;

// FONT WEIGHT
$weight-light: 400;
$weight-bold: 500;
$weight-bolder: 700;

// PADDING
$padding-small: 0.25rem;
$padding-normal: 1rem;
$padding-large: 2rem;

// ICON SIZE
$icon-size-normal: 1.25rem;

// BREAKPOINT
$phone: 600px;
