// FONT COLORS
$font-light-blue: #b0edff;
$font-blue: #8de0f9;
$font-grey: #858585;

// FONT WEIGHT
$weight-bold: 500;
$weight-light: 400;

// PADDING
$padding-small: 0.25rem;
$padding-normal: 1rem;
$padding-large: 2rem;
