@use '@angular/material' as mat;

@import 'variables';

$my-palette: mat.define-palette(mat.$indigo-palette);

.weatherDetailsContainer {
  display: flex;

  .weatherDetails {
    width: 50%;
    div {
      display: flex;
      padding: $padding-small;
      margin-bottom: $padding-small;
      span {
        &:first-child {
          width: 50%;
        }
      }
      &:nth-child(odd) {
        background: mat.get-color-from-palette($my-palette, 'lighter');
      }
    }
  }
  .weatherDetailsIcon {
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 12rem;
    color: mat.get-color-from-palette($my-palette, 'darker');
  }
}
