@use '@angular/material' as mat;

@import 'flag-icons';
@import 'variables';
@import 'weather-icons';

$my-palette: mat.define-palette(mat.$indigo-palette);

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #efefef;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin-bottom: $padding-normal;
}

.mat-mdc-table tr.mat-mdc-row:hover {
  background-color: mat.get-color-from-palette($my-palette, 'lighter');
}
